*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
    font-style: normal;
}
body{
    font-size: 1rem;
    background-color: #23282E;
    color: #fff;
}
header{
    padding-top: 3vh;
    padding-bottom: 3vh;
}

a{
    text-decoration: none;
    font-weight: bold;
}
#header{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
}
#logo{
    width: 20%;
}
h1{
    font-size: 2rem;
    padding-left: 1.5rem;
}
h2{
    font-size: 1.5rem;
    padding-left: 1rem;
}
#menu{
    display: none;
}
#nav{
    width: 80%;
    text-align: right;
}
li{
    display: inline;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
a:link{
    color: #fff;
}
a:visited{
    color: #f7f7f7;
}
a:hover{
    color: #a0d8ef;
}
#flex-container-1{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    margin-bottom: 15vh;
    text-align: right;
    padding-right: 15vw;
}
#flex-item-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    padding-right: 5vw;
    width: auto;
}
img{
    width: 100%;
}



