*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
    font-style: normal;
}
body{
    font-size: 1rem;
    background-color: #23282E;
    color: #fff;
}
header{
    padding-top: 3vh;
    padding-bottom: 3vh;
}

a{
    text-decoration: none;
    font-weight: bold;
}
#header{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
}
#logo{
    width: 20%;
}
h1{
    font-size: 2rem;
    padding-left: 1.5rem;
}
h2{
    font-size: 1.5rem;
    padding-left: 1rem;
}
#nav{
    width: 80%;
    text-align: right;
}
li{
    display: inline;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
a:link{
    color: #fff;
}
a:visited{
    color: #f7f7f7;
}
a:hover{
    color: #a0d8ef;
}
input{
    display: none;
}
label{
    display: none;
}
#flex-container-1{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    margin-bottom: 15vh;
    text-align: right;
    padding-right: 15vw;
}
#flex-item-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    padding-right: 5vw;
    width: auto;
}
img{
    width: 100%;
}
h3{
    padding-left: 1.5rem;
    font-size: 1.3rem;
}
p{
    padding-left: 1.5rem;
}
#flex-container-2{
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 15vh;
    justify-content: center;
    align-items: center;
    padding-right: 7vw;
}
#flex-item-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    padding-right: 5vw;
    width: auto;
}
img{
    width: 100%;
}
#project-1-img{
    padding-left: 5vw;
    width: 70%;
}
#project-sum{
    width: 30%;
    text-align: center;
    justify-items: center;
}
.button{
    border: 2px solid #7BC0DB;
    border-radius: 20px;
    z-index: 1;
    color: #7BC0DB;
    margin: 2vh auto;
    margin-left: 1vw;
    padding: 0.5vh 2.5vw;
    font-weight: 500;
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
}
footer{
    font-size: 1rem;
    text-align: center;
    margin: 5vh auto;
}
#projects{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#page-title{
    margin-top: 7vh;
    margin-bottom: 7vh;
    text-align: center;
}
#cat{
    width: 45%;
    margin: 2vw;
    height: auto;
    transform: scale(1,1);
    transition: 0.2s;
}
#cat:hover{
    transform: scale(1.05, 1.05);
    transition-duration: 0.2s;
}
#cat-title{
    margin-bottom: 2vh;
    text-align: center;
}
/* Mobile menu – only affects ≤786px, desktop stays 100% the same */
@media screen and (max-width: 786px) {
    #hamburger{
        display: none;
    }
    /* Show the hamburger */
    .hamburger-icon {
        display: inline-block;
        color: #fff;
        background-color: #23282E;
        font-size: 1.5rem;
        padding:0 1vw;
    }
    .hamburger-icon:link{
        color: #fff;
    }
    .hamburger-icon:visited{
        color: #f7f7f7;
    }
    .hamburger-icon:hover{
        color: #a0d8ef;
    }
    /* Hide menu by default on mobile */
    #items {
        display: none;
    }

    #items a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-weight: bold;
    }
    #hamburger:checked ~ #items {
        display: block;
    }
    #flex-container-1{
        margin-top: 16vh;
    }
    #flex-container-1{
        flex-direction: column;
        text-align: center;
        padding-right: 0;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    #flex-item-1{
        margin-left: 0;
    }
    img{
        padding-top: 2vh;
    }
    #flex-container-2{
        flex-direction: column;
        padding-right: 0;
        margin-bottom: 0;
    }
    #project-sum{
        padding-top: 2vh;
    }
}