*{ 
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    font-family: "Comic Neue", cursive;
    font-style: normal;
    margin: 0;
    font-size: 1rem;
    background-color: #23282E;
    color: #99b1a2;
}
header{
    padding-top: 3vh;
    padding-bottom: 3vh;
}

a{
    text-decoration: none;
    font-weight: bold;
}
#header{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
}
#logo{
    width: 20%;
}
h1{
    font-size: 2rem;
    padding-left: 1rem;
}
#menu{
    display: none;
}
#nav{
    width: 80%;
    text-align: right;
}
li{
    display: inline;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}